<style>
    .placeholder {
        display: block;
        width: 100%;
        height: 150px;
    }

    .nav_bar {
        display: flex;
        flex-direction: column;

        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        z-index: 1000;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px);
        

        width: 100%;
        height: 150px;

        box-sizing: border-box;
        border-bottom: 1px solid black;
    }

    h1 {
        font-family: 'Courier New', Courier, monospace;

        font-size: 40px;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
    }

    #main {
        flex: 2;
    }

    #links {
        flex: 1;
        justify-content: space-between;

        border-top: 1px solid black;
    }

    #links * {
        display: flex;

        height: 100%;

        justify-content: center;
        align-items: center;
    }

    a:hover {
        background-color: rgb(209, 209, 209);
    }

    .dropdown {
        flex: 2;
    }

    .quick_link {
        flex: 1;
    }

</style>
<div class="placeholder"></div>
<div class="nav_bar">
    <div class="row" id="main">
        <h1>Redmond Tech Team</h1>
    </div>
    <nav class="row" id="links">
        <a class="dropdown" href="">About</a>
        <a class="quick_link" href="">About</a>
        <a class="quick_link" href="">About</a>
        <a class="quick_link" href="">About</a>
    </nav>
</div>