.upload {
  font-family: 'Courier New', Courier, monospace;
  display: flex ;
  width: 100%;
  gap: 5px;
}


table {
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  color: #ffffff;
  width: 100%;
}

td, th {
  border: 1px solid #2b2b2b;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #000000;
}
tr:nth-child(odd) {
  background-color: #272727;
}


th:nth-child(1),
td:nth-child(1) {
  width: 40%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 20%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 20%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 20%;
}