<style>
    .placeholder {
        display: block;
        width: 100%;
        height: 150px;
    }

    .nav_bar {
        display: flex;
        flex-direction: column;

        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        z-index: 1000;
        backdrop-filter: blur(5px);
        

        width: 100%;
        height: 150px;

        border-bottom: 1px solid black;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
    }

    /* Row 1 */

    #main {
        flex: 2;
    }

    #title_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    #title {
        font-family: 'Courier New', Courier, monospace;
        font-size: 40px;

        cursor: pointer;
        margin: 0;
        margin-top: 5px;
    }

    #title:hover {
        text-decoration: underline;
    }

    #subtitle {
        margin: 0;

        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
    }

    #logo {
        position: absolute;
        top: 0;
        right: 0;

        height: 100px;
        width: auto;
        aspect-ratio: 1 / 1;

        cursor: pointer;
        
        transition: transform 0.2s;
    }

    /* Row 2 */

    ::slotted(*) {
        display: flex;
        flex-direction: row;
        height: 100%;

        justify-content: center;
        align-items: center;

        flex: 1;
        justify-content: space-between;
    }

    .slot_wrapper {
        flex: 1;
        justify-content: space-between;

        display: flex;
        flex-direction: row;
        width: 100%;

        border-top: 1px solid #00469c;
    }

    #links * {
        display: flex;

        height: 100%;

        justify-content: center;
        align-items: center;
    }

    a:hover {
        background-color: rgba(255, 255, 255, 0.4);
        border-left: 1px solid #00469c;
        border-right: 1px solid #00469c;
    }
    ::slotted(a:hover) {
        background-color: rgba(255, 255, 255, 0.4);
        border-left: 1px solid #00469c;
        border-right: 1px solid #00469c;
    }

    .dropdown {
        flex: 2;
        outline: none;
        border: none;
    }
    ::slotted(.dropdown) {
        flex: 2;
        outline: none;
        border: none;
    }

    .quick_link {
        flex: 1;
    }
    ::slotted(.quick_link) {
        flex: 1;

        justify-content: center;
        align-items: center;
    }

</style>
<div class="placeholder"></div>
<div class="nav_bar">
    <div class="row" id="main">
        <div id="title_container">
            <h1 id="title">Redmond Tech Team</h1>
            <p id="subtitle">-</p>
        </div>
        <img id="logo" src="/assets/tech_logo_hd.png" alt="">
    </div>
    <div class="slot_wrapper">
        <slot>
            <nav class="row" id="links">
                <dropdown-menu desc="Programs" openFrom="bottom" class="dropdown">

                    <dropdown-element link="/rfs"><p>RedFS</p></dropdown-element>

                    <dropdown-element link="/fun"><p>Fun</p></dropdown-element>

                    <dropdown-element link="/info"><p>Info</p></dropdown-element>
                    
                </dropdown-menu>
                <a class="quick_link" href="/rfs">RedFS</a>
                <a class="quick_link" href="/fun">Fun</a>
                <a class="quick_link" href="/info">Info</a>
                <dropdown-menu desc="Authentication" openFrom="bottom" class="dropdown">
                    <dropdown-element link="/login"><p>Login</p></dropdown-element>
                    <dropdown-element link="/sign_up"><p>Create Account</p></dropdown-element>
                </dropdown-menu>
            </nav>
        </slot>
    </div>
</div>