main {
    text-align: left;
}

p{
    padding-top: 30px;
    padding-right:300px;
    padding-left: 300px;
}

main h1 {
    text-align: center;
}

#Contact {
    text-align: left;
    padding-left: 0;
    padding-top: 100px;
}

#Description {
    font-size: 25px;
}

#Email {
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px ;
    font-size: 20px;
    text-align: left;
}